@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-gray-900;
    }
    .website-title {
        @apply items-center text-xl font-bold text-white tracking-tight;
    }

    .page-title-text {
        @apply flex items-center h-40 py-[100px] justify-center text-5xl font-extrabold text-transparent
        bg-gradient-to-r bg-clip-text from-indigo-500 via-purple-500 to-pink-500;
    }

    .background-main-page {
        @apply h-full w-full bg-gradient-to-b from-[#2a0d40] to-black;
    }

    /* Logo */
    .logo {
        @apply top-0 left-0 h-10 w-14 mx-3
        cursor-pointer fill-[#8875FF];
    }

    .topbar {
        @apply sticky flex left-0 right-0 top-0  h-16 z-50
        transition-all ease-in-out duration-200;
    }

    .background-topbar {
        @apply bg-opacity-70 bg-black backdrop-blur-sm z-40;
    }

    /* Navbar */
    .sidebarNav {
        @apply flex flex-wrap items-center justify-start
        space-y-2 mt-2 mx-3;
    }

    /* Animazione di hover lo sfondo del bottone ed il suo colore */
    .sidebarToggleButton {
        @apply absolute flex items-center justify-center border-2 border-transparent
        top-0 right-0 h-10 w-12 mt-3 mx-3
        fill-[#8875FF] hover:fill-[#b5aaff]
        hover:rounded-xl rounded-3xl
        shadow-lg hover:border-secondaryFlash/30
        hover:shadow-secondaryFlash/30
        transition-all duration-200 ease-linear
        cursor-pointer;
    }

    /* Animazione dell bottone menu hamburger che diventa una X e viceversa a seconda dello stato della sidebar */
    .sidebarToggleButton .line {
        transition: y 150ms ease-in 150ms, rotate 150ms ease-in,
            opacity 0ms 150ms;
        transform-origin: center;
    }

    .sidebarToggleButton[aria-expanded="true"] .line {
        transition: y 150ms ease-in, rotate 150ms ease-in 150ms,
            opacity 0ms 150ms;
    }

    .sidebarToggleButton[aria-expanded="true"] :is(.top, .bottom) {
        y: 45;
    }

    .sidebarToggleButton[aria-expanded="true"] .top {
        rotate: 45deg;
    }

    .sidebarToggleButton[aria-expanded="true"] .middle {
        opacity: 0;
    }

    .sidebarToggleButton[aria-expanded="true"] .bottom {
        rotate: -45deg;
    }

    /* Definizione stile della sidebar */
    .sidebar {
        @apply fixed z-50 top-16 bottom-0 left-[100vw] 
        lg:right-0 p-1 overflow-y-auto
        text-center;
        width: 225px;
    }

    /* Animazione sidebar per apertura e chiusura inoltre sposta il contenuto della pagina */
    .sidebarOpen {
        transform: translateX(-100%);
        opacity: 100;

        transition: all 0s, transform 300ms cubic-bezier(0.44, 0, 1, 1),
            opacity 0s; /*animazione di entrata*/
    }

    .sidebarClosed {
        opacity: 0;
        transition: all 0s, transform 500ms cubic-bezier(0, 0, 0.58, 1),
            opacity 0s 500ms; /*animazione di uscita*/
    }

    /* Contenuto della pagina */
    .outletOpen {
        width: calc(100vw - 225px);

        /* max-width: calc(100vw - 200px); */
        transition: all 0s, width 300ms cubic-bezier(0.44, 0, 1, 1); /*animazione di entrata*/
    }

    .outletClosed {
        width: 100%;
        transition: all 0s, width 500ms cubic-bezier(0, 0, 0.58, 1); /*animazione di uscita*/
    }

    .sidebarButtons {
        @apply flex items-center justify-between w-full font-bold
        space-y-3 px-4 py-3 border-x-2 border-y-2 border-transparent
        border-x-accent hover:border-accent
        text-accent hover:text-[#FEC29A]
        hover:border-2
        hover:rounded-xl rounded-3xl
        transition-all duration-200 ease-linear
        cursor-pointer shadow-lg hover:shadow-accent/30;
    }

    .goButton {
        @apply flex items-center justify-between w-fit font-bold 
        px-4 py-2 border-2 border-transparent
        border-accent
        text-accent hover:text-[#FEC29A]
        hover:rounded-xl rounded-3xl
        transition-all duration-200 ease-linear
        cursor-pointer shadow-lg hover:shadow-accent/30;
    }
}
